.search-bar {
    background-color: var(--gray-light);
    display: flex;
    padding: var(--padding-beta);
    justify-content: end;
    gap: var(--padding-gamma);
    align-items: center;
}

@media screen and (max-width: 768px) {
    .search-bar {
        flex-direction: column;
        align-items: flex-end;
    }
}