.shipping-method-area {
    border: 1px solid gray;
    padding: var(--padding-beta);
    border-radius: 10px;
    margin-bottom: var(--padding-epsilon);
    display: flex;
    flex-direction: column;
    gap: var(--padding-beta);
}

.shipping-option {
    display: flex;
    align-items: center;
    gap: var(--padding-alpha);
}