.order-hub .input-row .input-container {
    border: 1px solid gray;
}

.order-hub {
    max-width: 1024px;
    margin: auto;
}

.order-step-flex {
    display: flex;
    justify-content: center;
    gap: var(--padding-epsilon);
}

.order-step-heading {
    font-size: var(--size-30);
    margin-top: 50px;
}

.order-step-input-area {
    width: 420px;
    border-left: 1px solid gray;
    padding-left: var(--padding-gamma);
    position: relative;
}

.order-step-icon {
    font-size: 50px;
    text-align: right;
    margin-top: var(--padding-beta);
}

.order-step-icon path {
    color: var(--gray-mid);
}

#order-step-home-portal {
    color: var(--color-alpha);
}

#order-step-home-portal:hover {
    color: var(--color-gamma);
}