.product-modal-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.product-modal {
    background-color: white;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 50px;
    top: 50px;
    padding: var(--padding-gamma);
    overflow-y: scroll;
}

.product-modal img {
    height: 340px;
    margin: auto;
    display: block;
}

.product-modal-x {
    position: fixed;
    top: var(--padding-gamma);
    right: var(--padding-gamma);
    font-size: 30px;
    cursor: pointer;
}

.product-modal-x path {
    color: white;
}

.product-modal-flex {
    display: flex;
    gap: var(--padding-gamma);
}

.product-info-alpha {
    flex: 4;
}

.product-info-beta {
    background-color: var(--gray-lighter);
    flex: 1;
    padding: var(--padding-gamma);
    border-radius: 10px;
}

.product-info-heading {
    border-bottom: 1px solid gray;
    margin-bottom: 7px;
    padding-bottom: 2px;
}

.product-info-value {
    padding-left: var(--padding-beta);
}

.product-info-block {
    margin: var(--padding-beta) 0;
}