h1,
.account-greeting {
    color: var(--text-light);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    position: relative;
}

.account-greeting {
    position: absolute;
    right: 0;
    bottom: 0;
}