h1,
.account-greeting {
    color: var(--text-light);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    position: relative;
    align-items: center;
    padding-bottom: 14px;
}

.account-greeting {
    position: absolute;
    right: 0;
    bottom: 0;
}

.header-button-flex {
    display: flex;
    gap: var(--padding-alpha);
}

.header-button-flex button {
    display: block;
}

.header-button-flex button svg path {
    color: var(--color-epsilon);
}

.header-button-flex button:hover svg path {
    color: var(--color-epsilon-hover);
}