.product-card {
    height: 280px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    color: white;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
}

.product-card:hover .product-card-title-bar {
    top: 0;
}

.product-card-title-bar {
    font-size: var(--size-24);
    position: absolute;
    top: -20px;
    left: 0;
    padding: var(--padding-beta);
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-overlay,
.product-card-input-container {
    opacity: 0%;
}

.product-card-input-container {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.product-card:hover .product-card-input-container {
    bottom: var(--padding-alpha);
}

.product-card-overlay {
    height: 100%;
    transition: 0.2s;
}

.product-card-overlay div {
    pointer-events: none;
    color: white;
}

.product-card button,
.product-card input {
    pointer-events: initial;
}

.product-card input {
    padding: var(--padding-beta);
    width: 80px;
}

.product-card:hover .product-card-overlay,
.product-card:hover .product-card-input-container {
    opacity: 100%;
}

.product-card-title-bar,
.product-card-overlay,
.product-card-input-container {
    transition: 0.2s;
}

.product-card-price {
    font-size: var(--size-16);
}