.account-hub {
    background-color: var(--color-alpha);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.account-hub label,
.account-hub input {
    color: var(--text-light);
}

.account-hub-center {
    max-width: 500px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.account-hub-center .logo {
    position: absolute;
    left: -77px;
    top: 298px;
    font-size: 50px;
}

.account-input-area {
    background-color: rgba(0, 0, 0, 0.5);
    padding: calc(var(--padding-epsilon) - 10px) var(--padding-epsilon);
    width: 350px;
    border-radius: 30px;
}

.account-hub button {
    margin: var(--padding-beta) 0;
}