.account-hub {
    background-color: var(--color-alpha);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.account-hub label,
.account-hub input {
    color: var(--text-light);
}

.account-hub-center {
    max-width: 500px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.account-hub-center .logo {
    position: absolute;
    left: -77px;
    top: 298px;
    font-size: 50px;
}

.account-input-area {
    background-color: rgba(0, 0, 0, 0.5);
    padding: calc(var(--padding-epsilon) - 10px) var(--padding-epsilon);
    width: 350px;
    border-radius: 30px;
}

.account-input-area .input-container {
    background-color: rgba(255, 255, 255, 0.1);
}

.account-hub button {
    margin: var(--padding-beta) 0;
}

#account-page-select {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

#account-page-select .radio-group-option-content {
    color: var(--gray-light);
}

#account-page-select.radio-group input:checked ~ .radio-group-option-content {
    background-color: rgb(94, 94, 94);
}

#account-page-select.radio-group label:hover .radio-group-option-content {
    background-color: rgb(66, 66, 66);
}

.password-row .input-container {
    display: flex;
}

.password-row .input-container button {
    margin: 0;
    padding: 0 var(--padding-beta);
    border: none;
}

.password-row .input-container button path {
    color: var(--gray-mid);
}

.password-row input:focus-visible {
    outline: none;
}

@media screen and (max-width: 768px) {
    .account-input-area {
        width: 100%;
        padding-left: var(--padding-beta);
        padding-right: var(--padding-beta);
    }

    .account-hub-center {
        max-width: initial;
        flex-direction: column;
    }

    .account-hub-center .logo {
        position: initial;
    }

    .account-hub button {
        display: block;
    }

    #sign-in-button,
    #create-account-button {
        display: block;
        margin: auto;
    }
}