.product-review-row {
    display: flex;
    margin: var(--padding-alpha) 0;
    gap: var(--padding-alpha);
    align-items: center;
}

.product-review-img {
    width: 100px;
    height: 70px;
    background-size: cover;
    background-position: center;
}

.product-review-info {
    flex: 1;
}