#back-to-shipping {
    position: absolute;
    bottom: 10px;
    left: -170px;
}

#pay-now {
    padding-left: 40px;
    padding-right: 40px;
    font-size: var(--size-16);
}

.card-logo {
    position: absolute;
    right: 5px;
    top: 50%;
    translate: 0 -50%;
    width: 30px;
}

@media screen and (max-width: 768px) {
    #back-to-shipping {
        position: initial;
        margin-bottom: var(--padding-alpha);
        margin-right: var(--padding-alpha);
    }
}