:root {
    --color-alpha: rgb(61, 49, 91);
    --color-beta: rgb(68, 75, 110);
    --color-gamma: rgb(112, 139, 117);
    --color-delta: rgb(154, 184, 122);
    --color-epsilon: rgb(248, 249, 145);
    --color-epsilon-hover: rgb(255, 204, 85);
    --gray-lighter: rgb(242, 242, 242);
    --gray-light: rgb(215, 215, 215);
    --gray-mid: rgb(186, 186, 186);

    --text-base: black;
    --text-light: rgb(215, 215, 215);

    --max-content-width: 1024px;

    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-30: 1.875rem;

    --padding-alpha: 5px;
    --padding-beta: 10px;
    --padding-gamma: 20px;
    --padding-epsilon: 35px;
}

* {
    color: var(--text-base);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header,
footer {
    background-color: var(--color-alpha);
    padding: 0 10px;
}

footer {
    padding-top: 10px;
}

body {
    /* background-color: var(--color-beta); */
    margin: 0;
}

h1 {
    margin-top: 0;
}

.error-text {
    color: red;
}

.success-text {
    color: var(--color-epsilon-hover);
}

.bold-text {
    font-weight: bold;
}

.minor-text {
    color: gray;
}

.container-main {
    max-width: var(--max-content-width);
    margin: 0 auto;
    position: relative;
}

button {
    border-radius: 10px;
    padding: 8px 15px;
    background-color: transparent;
    color: var(--color-epsilon);
    border: 2px solid var(--color-epsilon);
    cursor: pointer;
}

button svg {
    pointer-events: none;
}

button:hover {
    color: var(--color-epsilon-hover);
    border-color: var(--color-epsilon-hover);
}

.button-major {
    background-color: var(--color-epsilon);
    color: var(--color-alpha);
    font-weight: bold;
    padding: var(--padding-beta) var(--padding-gamma);
    border: none;
}

.button-major:hover {
    background-color: var(--color-epsilon-hover);
    border-color: var(--color-epsilon-hover);
    color: var(--color-alpha);
}

.button-major:disabled {
    background-color: var(--gray-light);
    color: gray;
    border: none;
    cursor: initial;
}

.button-minor {
    color: gray;
    border-color: gray;
    border-width: 1px;
}

.button-minor:hover {
    color: black;
    border-color: black;
}

.button-small {
    padding: 5px 10px;
}

.button-big {
    padding: var(--padding-gamma);
}

.link-button {
    border: none;
    padding: 0;
}

.link-button:hover {
    text-decoration: underline;
}

.file-format {
    background-color: var(--gray-light);
    border-radius: 5px;
    padding: 4px;
}

.file-formats-flex {
    display: flex;
    gap: var(--padding-alpha);
    flex-wrap: wrap;
}

.small-field-flex {
    display: flex;
    justify-content: space-between;
    gap: var(--padding-beta);
}

.small-field-flex .input-row {
    margin: 0;
    flex: 1;
}