.footer-flex {
    display: flex;
    justify-content: space-between;
}

footer .link-button {
    display: block;
    color: var(--color-delta);
}

.copyright {
    text-align: center;
}

.footer-heading {
    font-size: var(--size-20);
    margin-bottom: 15px;
}

.footer-heading,
.copyright {
    color: var(--text-light);
}