.input-row {
    margin: 20px 0;
}

.input-row label {
    display: block;
}

.input-row .input-container {
    border-radius: 4px;
}

.input-row .input-container input,
.input-row .input-container select {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: var(--padding-beta);
}

.input-row.small-field .input-container {
    width: 150px;
}