.main-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container-hero {
    padding: var(--padding-epsilon) var(--padding-beta);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.container-hero h2 {
    position: relative;
    color: var(--text-light);
}

.main-page-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
}

.main-bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    background-size: 1625px;
    background-position-x: center;
    background-position-y: -206px;
    background-image: url("https://images.pexels.com/photos/8347501/pexels-photo-8347501.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

@media screen and (max-width: 768px) {
    .main-page {
        display: initial;
    }

    .main-page-center {
        height: 400px;
    }
}